NET "A"	 LOC = "B2";
NET "AA" LOC = "A3";
NET "B"	 LOC = "C6";
NET "BB" LOC = "B6";
NET "C"	 LOC = "A9";
NET "CC" LOC = "B9";
NET "CLK" LOC = "B8" ;
NET "Kd[0]" LOC = "P11";
NET "Kd[1]" LOC = "L3" ;
NET "Kd[2]" LOC = "K3";
NET "Kd[3]" LOC = "B4" ;
NET "current_vel[0]" LOC = "J3" ;
NET "current_vel[1]" LOC = "B5" ;
NET "current_vel[2]" LOC = "C5" ;
NET "current_vel[3]" LOC = "B7" ;
NET "current_vel[4]" LOC = "A10" ;
NET "current_vel[5]" LOC = "C9" ;
NET "Kp[0]" LOC = "G3" ;
NET "Kp[1]" LOC = "F3";
NET "Kp[2]" LOC = "E2" ;
NET "Kp[3]" LOC = "N3" ;
NET "H1" LOC = "C12" ;
NET "H2" LOC = "A13";
NET "H3" LOC = "C13" ;