NET "A"	 LOC = "B2";
NET "AA" LOC = "A3";
NET "B"	 LOC = "C6";
NET "BB" LOC = "B6";
NET "C"	 LOC = "A9";
NET "CC" LOC = "B9";
NET "clk" LOC = "B8" ;
NET "Kp[0]" LOC = "P11";
NET "Kp[1]" LOC = "L3";
NET "Kp[2]" LOC = "K3";
NET "Kp[3]" LOC = "B4";
NET "Kd[0]" LOC = "G3";
NET "Kd[1]" LOC = "F3" ;
NET "Kd[2]" LOC = "E2";
NET "Kd[3]" LOC = "N3";
NET "H1" LOC = "D12" ;
NET "H2" LOC = "A13";
NET "H3" LOC = "C13" ;
NET "E_1" LOC = "J3" ;
NET "E_2" LOC = "B5";
NET "RST_1" LOC = "C5";
NET "Led[0]" LOC = "M5";
NET "Led[1]" LOC = "M11";
NET "Led[2]" LOC = "P7";
NET "Led[3]" LOC = "P6";
NET "Led[4]" LOC = "N5" ;
NET "Led[5]" LOC = "N4";
NET "Led[6]" LOC = "P4" ;
NET "Led[7]" LOC = "G1";