NET "A"	 LOC = "B2";
NET "AA" LOC = "A3";
NET "B"	 LOC = "C6";
NET "BB" LOC = "B6";
NET "C"	 LOC = "A9";
NET "CC" LOC = "B9";
NET "CLK" LOC = "B8" ;
NET "D[0]" LOC = "P11";
NET "D[1]" LOC = "L3" ;
NET "D[2]" LOC = "K3";
NET "D[3]" LOC = "B4" ;
NET "D[4]" LOC = "G3";
NET "D[5]" LOC = "F3" ;
NET "D[6]" LOC = "E2";
NET "D[7]" LOC = "N3" ;
NET "H1" LOC = "D12" ;
NET "H2" LOC = "A13";
NET "H3" LOC = "C13" ;