//! **************************************************************************
// Written by: Map P.28xd on Wed Dec 14 01:00:17 2016
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "B2" LEVEL 1;
COMP "B" LOCATE = SITE "C6" LEVEL 1;
COMP "C" LOCATE = SITE "A9" LEVEL 1;
COMP "W<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "W<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "W<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "W<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "H1" LOCATE = SITE "D12" LEVEL 1;
COMP "H2" LOCATE = SITE "A13" LEVEL 1;
COMP "H3" LOCATE = SITE "C13" LEVEL 1;
COMP "AA" LOCATE = SITE "A3" LEVEL 1;
COMP "BB" LOCATE = SITE "B6" LEVEL 1;
COMP "CC" LOCATE = SITE "B9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

